* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #1F2937;
  font-family: sans-serif;
}

.header {
  background-color: #191f28;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 40px;
  color: #fdcc3b;
  padding: 15px 0;
}

.main {
  margin-top: 40px;
  text-align: center;
}

.scoreboard {
  margin-bottom: 20px;
  color: #cdcfd8;
}

.won-lost {
  font-size: 32px;
  margin-bottom: 10px;
}

.score-message {
  font-size: 20px;
  margin-bottom: 20px;
}

.scores-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
}

.score-box {
  width: 170px;
}

.score {
  font-size: 80px;
  margin-bottom: 10px;
}

.cpu, .player {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 700;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  background-color: #2a3241;
  border: 1px solid #2a3241;
  font-size: 70px;
}

.btn:hover {
  background-color: #3b4054
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.footer a {
  text-decoration: none;
  color: #cdcfd8;
  font-size: 18px;
}

.modal {
  display: none;
}

.active {
  padding: 30px 10px;
  background-color: #191f28;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
  color: #cdcfd8;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

.modal-btn {
  font-size: 17px;
  padding: 12px 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #454858;
  border: 1px solid #454858;
  color: #cdcfd8;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.overlay-active {
  display: block;
}